name: Python application

on:
  schedule:
  # Run every morning at 2AM
  - cron: 0 2 * * *

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Pull latest Docker image
      run: |
        # The latest Docker image contains the most up-to-date dataset including all
        # daily team values and rankings.
        docker pull roclark/clarktech-ncaab-predictor
    - name: Copy dataset from latest Docker container
      run: |
        # In order to copy the dataset file from the latest image, a container needs to
        # be run with a volume pointing to the local directory and the dataset copied to
        # the attached volume.
        docker run --rm -v $(pwd):/opt/mount --rm --entrypoint cp \
          roclark/clarktech-ncaab-predictor /app/dataset.pkl \
          /opt/mount/dataset.pkl
        sudo chown $(whoami):$(whoami) dataset.pkl
    - name: Build new dataset based on previous dataset
      run: |
        python build_dataset.py
    - name: Create new Docker image using new dataset and push to Docker Hub
      env:
        DOCKER_USERNAME: ${{ secrets.docker_login }}
        DOCKER_PASSWORD: ${{ secrets.docker_password }}
      run: |
        docker build -t roclark/clarktech-ncaab-predictor:$(date +%y.%m.%d) -t roclark/clarktech-ncaab-predictor .
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker push roclark/clarktech-ncaab-predictor
